<!DOCTYPE html>
<html>
  <head>
    <title>查看结果</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>
  <body>
    <table class="table table-bordered">
      <tbody>
      <tr>
        <th>ID</th>
        <th>性别</th>
        <th>年龄</th>
        <th>家庭住址</th>
        <th>受教育程度</th>
        <th>职业/th>
        <th>家庭月收入</th>
        <th>个人月收入</th>
        <th>家庭人口数</th>
        <th>家庭属性</th>
        <th>汽车驾照</th>
        <th>汽车保有量</th>
        <th>电动车保有量</th>
        <th>自行车保有量</th>
        <th>工作或学校详细地址</th>
        <th>小区代码</th>
        <th>家庭代码</th>
        <th>删除</th>
      </tr>

      <% infos.forEach(function(info){ %>
      <tr>
        <td><%= info.id %></td>
        <td><%= info.sex %></td>
        <td><%= info.year %></td>
        <td><%= info.address.block + "区" + info.address.road + "路" + info.address.number + "号" + info.address.name + "小区"  %></td>
        <td><%= info.education %></td>
        <td><%= info.job %></td>
        <td><%= info.familyIncome %></td>
        <td><%= info.personIncome %></td>
        <td><%= info.familyNum %></td>
        <td><%= info.familyAttr %></td>
        <td><%= info.has %></td>
        <td><%= info.carNum %></td>
        <td><%= info.mobikeNum %></td>
        <td><%= info.bikeNum %></td>
        <td><%= info.orgAddress.block + "区" + info.orgAddress.road + "路" + info.orgAddress.number + "号" + info.orgAddress.name + "小区"  %></td>
        <td><%= info.areaID %></td>
        <td><%= info.familyID %></td>
        <td>
          <button id="<%= info._id %>" class="btn btn-default" >Delete</button>
        </td>
      </tr>
      <% }) %>

      </tbody>
    </table>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
      var infos = JSON.parse('<%- JSON.stringify(infos)%>');
      console.log(infos);
      infos.forEach(function(info){
        $("#"+info._id).click(function(){
          $.ajax({
            url: "/citizen/info/delete",
            contentType: 'application/json',
            type: 'POST',
            data: JSON.stringify({
              _id:info._id
            }),
            success: function(data) {
              var code = data.code;
              if(code<0){
                alert("失败!");
              }
              else{
                alert("成功");
                location.reload();
              }
              console.log(data);
            },
            error: function(xhr, status, err) {
              alert("失败!");
            }
          });
        })
      })

    </script>
  </body>
</html>
