<!DOCTYPE html>
<html>
  <head>
    <title>查看结果</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <table class="table table-bordered">
      <tbody>
      <tr>
        <th>ID</th>
        <th>性别</th>
        <th>年龄</th>
        <th>宿舍区</th>
        <th>年级</th>
        <th>专业大类</th>
        <th>校内主要出行方式</th>
        <th>专业名称</th>
        <th>汽车驾照</th>
        <th>汽车保有量</th>
        <th>电动车保有量</th>
        <th>自行车保有量</th>
      </tr>

      <% infos.forEach(function(info){ %>
      <tr>
        <td><%= info.id %></td>
        <td><%= info.sex %></td>
        <td><%= info.year %></td>
        <td><%= info.area %></td>
        <td><%= info.grade %></td>
        <td><%= info.major %></td>
        <td><%= info.mainWay %></td>
        <td><%= info.majorName %></td>
        <td><%= info.has %></td>
        <td><%= info.carNum %></td>
        <td><%= info.mobikeNum %></td>
        <td><%= info.bikeNum %></td>
      </tr>
      <% }) %>

      </tbody>
    </table>
  </body>
</html>
